dist: trusty
sudo: required
language: go

go_import_path: github.com/ligato/bgp-agent

go:
  - 1.9.x

before_install:
  - sudo add-apt-repository ppa:masterminds/glide -y
  - sudo apt-get update -q
  - sudo apt-get install glide -y
  - go get github.com/mattn/goveralls

script:
  - make all

after_success:
  - goveralls -coverprofile=/tmp/coverage.out -service=travis-ci
